body {
   
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.top-banner{
    height: 660px;
    background: crimson;
}
.top-title{
    padding-top: 70px;
    margin-left: 30px;
    color: white;
    margin-bottom: 25px ;
}
.btn{
    margin-top: 25px;
}
.btn-hire{
    background: rgb(255, 255, 255);
    text-decoration: none;
    color: crimson;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
h1 {
    font-size: 50px;
}
h3{
    font-size: 30px;
}

.orange-text {
    color: orange;
}

.flex-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
}
.about-me{

}
.about-des{
    list-style: none;
    margin-left: -40px;
    font-size: 20px;
}
.des-head{
font-weight: 600;
margin-right:0;
display: flex;
width: 50%;
}
.des-info{
display: flex;
width: 50%;
}
.services h1 {
    text-align: center;
}
.services p {
    text-align: center;
}
.service-des{
    margin-top: 50px;
}
.serv-item{
    width: 100%;
    padding-left: 2%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;